

.info-top3 a {
    font-size: 16pt;
    font-weight: bold;
    background-color: rgb(235, 243, 232);
    color: rgb(134, 167, 137);
    border: 3px solid rgb(134, 167, 137);
    border-radius: 5px;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.info-top3 a:hover,
.info-top3 a:active {
    background-color: rgb(134, 167, 137);
    color: rgb(235, 243, 232);
}

.info-top2 {
    margin-top: 12px;
}

.info-top3 {
    text-align: end;
}

.form1 [type=text] {
    width: 100%;
    padding: 10px;
    margin: 2px 0;
    display: inline-block;
    border: 2px solid rgb(134, 167, 137);
    border-radius: 4px;
    box-sizing: border-box;
}

.form2 [type=text] {
    width: 100%;
    padding: 10px;
    margin: 2px 0;
    display: inline-block;
    border: 2px solid rgb(134, 167, 137);
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    padding: 10px 10px 10px 0;
    display: inline-block;
    font-weight: bold;
}

input {
    padding: 0 10px;
    outline: none;
}

.label-horizontal {
    float: left;
    width: 25%;
    margin-top: 2px;

}

.input-horizontal {
    float: left;
    width: 75%;
    margin-bottom: 6px;
}

textarea {
    width: 100%;
    height: 15vh;
    border-width: 2px;
    border-color: rgb(134, 167, 137);
    border-radius: 4px;
    padding: 10px;
    resize: none;
    outline: none;
}

.opsi {
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 10px 20px;
    border-width: 2px;
    border-color: rgb(134, 167, 137);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    font-size: 12pt;
    font-weight: bold;
    color: rgb(30, 30, 30);
    outline: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2386A789"><path d="M7 10l5 5 5-5z"/></svg>');
    /* Add a custom arrow icon */
    background-size: 24px 24px;
    background-position: 98% 50%;
    background-repeat: no-repeat;
}

.button-konfirmasi {
    margin-top: 30px;
}

.button-konfirmasi .button {
    width: 100%;
    background-color: rgb(134, 167, 137);
    border: none;
    border-radius: 4px;
    color: rgb(235, 243, 232);
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16pt;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.button-konfirmasi .button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
    body {
        height: auto;
    }

    main {
        display: contents;

    }

    label,
    input,
    .label-horizontal,
    .input-horizontal {
        float: none;
        width: auto;
    }

    .list1, .list2{
        float: none;
        width: auto;
        margin: 10px 30px;
    }


    .info-top3 a {
        display: none;
    }
}