.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.header h1 {
    flex-grow: 1;
    font-size: 24px;
}

.header a {
    text-decoration: none;
    color: #333;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.button-container button {
    padding: 10px 20px;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button-container button.active,
.button-container button:hover {
    background-color: #4caf50;
    color: white;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    /* Mengurangi padding */
    margin-bottom: 8px;
    /* Menambahkan margin bawah */
    background-color: #e8f5e9;
    border-radius: 5px;
}

.user-list li span {
    font-size: 18px;
}

.user-list li button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.container {
    margin: 15px 30px;
}

.form-container {
    display: flex;
    justify-content: space-evenly;
}

.left-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-flex {
    display: block;
    margin: 5px 0;
}

p {
    color: rgb(134, 167, 137);
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 5px;
}

a.btn-paket {
    font-size: 16pt;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(134, 167, 137);
    border: 3px solid rgb(134, 167, 137);
    border-radius: 5px;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

a.btn-paket:hover,
a.btn-paket:active {
    background-color: rgb(134, 167, 137);
    color: rgb(235, 243, 232);
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    float: left;
    width: auto;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 5px;
}

input {
    float: right;
    width: 78%;
    outline: none;
    padding: 10px;
    border: 2px solid rgb(134, 167, 137);
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    float: right;
    width: 78%;
    height: 15vh;
    border-width: 2px;
    border-color: rgb(134, 167, 137);
    border-radius: 4px;
    padding: 10px;
    resize: none;
    outline: none;

}

.opsi {
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-width: 2px;
    border-color: rgb(134, 167, 137);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    font-size: 12pt;
    font-weight: bold;
    color: rgb(30, 30, 30);
    outline: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2386A789"><path d="M7 10l5 5 5-5z"/></svg>');
    background-size: 24px 24px;
    background-position: 98% 50%;
    background-repeat: no-repeat;
}

.button {
    width: 100%;
    background-color: rgb(134, 167, 137);
    border: none;
    border-radius: 4px;
    color: rgb(235, 243, 232);
    padding: 12px 32px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16pt;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
    body {
        height: auto;
    }

    main {
        display: contents;

    }

    label,
    input,
    .form-container {
        display: block;
        float: none;
        width: auto;
    }



    .info-top3 a {
        display: none;
    }
}

