form.form-pendaftaran {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
  width: 90vh;
}

p {
  font-weight: bold;
  color: rgb(134, 167, 137);
  margin: 10px 0;
}

.info{
  text-align: center;
}
input {
  border-radius: 5px;
}

input,
select {
  margin: 10px 0;
  padding: 10px;
  border: 2px solid rgb(134, 167, 137);
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: center;
}

.container-button {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
}

.container-button a {
  margin-top: 10px;
}

.container-button img {
  width: 250px;
  height: 200px;
  border-radius: 6px;
  box-shadow: 0 5px 5px 0px rgba(30, 30, 30, 0.75);
}
