.confirm-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.confirm-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(134, 167, 137);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.confirm-btn:hover {
    background-color: darkgreen;
}

.kurir-button {
    flex: 0 0 auto;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgb(134, 167, 137);
    border-radius: 5px;
    background-color: rgb(235, 243, 232);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.kurir-button:hover,
.kurir-button.active {
    background-color: rgb(134, 167, 137);
}

.kurir-button i {
    margin-right: 5px;
}

.kurir-button span {
    margin-top: 3px;
    margin-right: 5px;
    font-weight: 600;
    color: rgb(30, 30, 30);
}

.list-resi {
    margin-top: 20px;
}

.resi-box {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #86a789;
    border-radius: 5px;
    background-color: #ebf3e8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resi-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.resi-info {
    flex: 1;
}

.resi-number {
    margin-left: 20px;
    text-align: right;
}

.resi-number p {
    margin: 0;
}

.resi-number input {
    margin-top: 10px;
    transform: scale(1.5);
    /* Membesarkan checkbox */
    -webkit-transform: scale(1.5);
    /* Membesarkan checkbox untuk browser webkit */
    transform-origin: 0 0;
    /* Mengatur titik asal transformasi */
    -webkit-transform-origin: 0 0;
    /* Mengatur titik asal transformasi untuk browser webkit */
    margin-right: 20px;
}

.resi-box h1 {
    font-size: 14pt;
    font-weight: bold;
    color: #1e1e1e;
    margin: 5px 0;
}

.resi-box p {
    margin: 5px 0;
    color: #86a789;
    font-weight: 600;
    font-size: 10pt;
}

.resi-box span {
    color: #1e1e1e;
    font-weight: normal;
    font-size: 10pt;
}
.list-resi .checkbox {
    display: flex;
    width: 100%;
    justify-content: right;
}

.list-resi .checkbox label {
    margin-right: 24px;
}