<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pendaftaran Kurir</title>
    <link rel="stylesheet" href="css/pendaftaran-styles.css" />
    <link rel="stylesheet" href="css/custom-style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="back-btn">
        <a href="/pendaftaran">
          <i class="fas fa-arrow-left fa-lg"></i
          ><span class="btn-text">Kembali</span>
        </a>
      </div>
    </div>

    <form class="form-pendaftaran" action="/pendaftaran" method="get">
      <p>Menambahkan akun Kurir</p>
      <input type="text" placeholder="Nama" value="" />
      <input type="text" placeholder="No. Handphone" value="" />
      <input type="text" placeholder="Email" value="" />
      <input type="text" placeholder="Password" value="" />
      <input type="text" placeholder="Re-password" value="" />
      <select id="kecamatan" name="kecamatan">
        <option value="">-- Pilih Kecamatan --</option>
      </select>
      <select id="kelurahan" name="kelurahan">
        <option value="">-- Pilih Kelurahan --</option>
      </select>

      <button class="green-btn">Tambah</button>
    </form>
  </body>
</html>
