<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pendaftaran Agen & Karyawan</title>
    <link rel="stylesheet" href="css/pendaftaran-styles.css" />
    <link rel="stylesheet" href="css/custom-style.css" />
    <script src="script/admin-script.js"></script>
    <script src="script/fetch.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="back-btn">
        <a href="/pendaftaran">
          <i class="fas fa-arrow-left fa-lg"></i
          ><span class="btn-text">Kembali</span>
        </a>
      </div>
    </div>
    <% if (typeof success !== 'undefined' && success) { %>
      <script>
        alert('<%= success %>');
      </script>
    <% } %>
    <% if (typeof error !== 'undefined' && error) { %>
      <script>
        alert('<%= error %>');
      </script>
    <% } %>
    <form class="form-pendaftaran" action="/tambahagen" method="post">
      <p>Menambahkan akun agen & karyawan</p>
      <input type="email" id="email" name="email" placeholder="Email" value="" required/>
      <input type="password" id="password" name="password" placeholder="Password" value="" required/>
      <select id="status" name="status" required>
        <option value="">-- Opsi Status --</option>
        <option value="agen">agen</option>
        <option value="karyawan">karyawan</option>
      </select>
      <button type="submit" class="green-btn">Tambah</button>
    </form>
  </body>
</html>
