<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pendaftaran Kurir</title>
    <link rel="stylesheet" href="css/pendaftaran-styles.css" />
    <link rel="stylesheet" href="css/custom-style.css" />
    <script src="script/admin-script.js"></script>
    <script src="script/fetch.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="back-btn">
        <a onclick="goBack()">
          <i class="fas fa-arrow-left fa-lg"></i
          ><span class="btn-text">Kembali</span>
        </a>
      </div>
    </div>

    <form class="form-pendaftaran" action="/tambahkurir" method="post">
      <p>Menambahkan akun Kurir</p>
      <input type="text" id="nama" name="nama" placeholder="Nama" value=""/>
      <input type="text" id="handphone" name="handphone" placeholder="No. Handphone" value="" />
      <input type="text" id="email" name="email" placeholder="Email" value="" />
      <input type="text" id="password" name="password" placeholder="Password" value="" />
      <input type="text" id="password" name="password" placeholder="Re-Password" value="" />

      <select id="kecamatan" name="kecamatan">
        <option value="">-- Pilih Kecamatan --</option>
        <option>Medan Tuntungan</option>
      </select>
      <select id="kelurahan" name="kelurahan">
        <option value="">-- Pilih Kelurahan --</option>
        <option>Simpang Selayang</option>
      </select>

      <button type="submit" class="green-btn">Tambah</button>
    </form>
  </body>
</html>
