<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pendaftaran Akun</title>
    <link rel="icon" href="img/logo-icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/pendaftaran-styles.css" />
    <link rel="stylesheet" href="css/custom-style.css" />
    <script src="script/admin-script.js"></script>
    <script src="script/fetch.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>

  <body>
    <div class="header">
      <div class="back-btn">
        <a onclick="goBack()">
          <i class="fas fa-arrow-left fa-lg"></i
          ><span class="btn-text">Kembali</span>
        </a>
      </div>
      <div class="list-paket">
        <a href="/list-akun">List Akun</a>
      </div>
    </div>
    

    <div class="main">
      <div class="info">
        <h1>Memilih Pendaftaran</h1>
      </div>
      <div class="button-group">
        <div class="container-button">
          <img src="img/img-courier.jpg" alt="kurirImage" />
          <a href="/pendaftaran-kurir">Kurir</a>
        </div>
        <div class="container-button">
          <img src="img/img-agen-karyawan.jpg" alt="kurirImage" />
          <a href="/pendaftaran-agen-karyawan">Agen & Karyawan</a>
        </div>
      </div>
    </div>
  </body>
</html>
