<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penentuan Kurir</title>
    <link rel="icon" href="img/logo-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/penentuan-style.css">
    <link rel="stylesheet" href="css/custom-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="script/admin-script.js"></script>
    <script src="script/fetch.js"></script>
</head>
<style>
    /* Modal styles */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 16pt;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .list-alamat{
        flex: 1;
            overflow-y: auto;
            padding: 0;
            border: none;
            height: 60vh;
    }
    .list-alamat::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        .list-alamat::-webkit-scrollbar-thumb {
            background: rgb(134, 167, 137);
            border: 2px solid rgb(235, 243, 232);
            border-radius: 10px;
        }

        .list-alamat::-webkit-scrollbar-track {
            background: rgb(235, 243, 232);
            border-radius: 10px;
        }

        .list-alamat::-webkit-scrollbar-thumb:hover {
            background: rgb(134, 167, 145);
        }
</style>

<body>
    <div class="header">
        <div class="back-btn">
            <a onclick="goBack()">
                <i class="fas fa-arrow-left fa-lg"></i><span class="btn-text">Kembali</span>
            </a>
        </div>
    </div>
    <div class="main" style="display: flex;">
        <div class="left-panel">
            <h1>Penentuan Kurir</h1>
            <h3>Menentukan zona pengiriman paket.</h3>
            <div class="opsi-kecamatan">
                <select id="kecamatan">
                    <option value="">-- Pilih Kecamatan --</option>
                </select>
            </div>
            <div class="opsi-kelurahan">
                <select id="kelurahan">
                    <option value="">-- Pilih Kelurahan --</option>
                </select>
            </div>
            <div class="confirm-section" style="justify-content: right;">
                <button id="confirmKecamatanKelurahan" class="confirm-btn" onclick="fetchPaketByKelurahan()">Cari Alamat
                    Sesuai Zona</button>
            </div>

        </div>
        <div class="line-center"></div>
        <div class="right-panel" style="height: 78vh; display: flex; flex-direction: column;
    justify-content: space-between;">
            <div>
                <h3>List Pengiriman Paket</h3>
                <div class="list-alamat">
                    <div class="list-resi" id="listResi">
                        <div class="kurir-list" id="kurirList">
                        </div>
                    </div>
                </div>
            </div>
            <div class="confirmation" style="justify-items: end;">
                <button id="confirmButtom" class="confirm-btn" value="list-pengantaran"
                    onclick="fetchKurirByKelurahan()">Konfirmasi</button>
            </div>
        </div>
        <div id="kurirModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <div id="modalContent"></div>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    // Mendapatkan elemen select
    const kecamatanSelect = document.getElementById('kecamatan');
    const kelurahanSelect = document.getElementById('kelurahan');

    // Memuat data dari file JSON
    fetch('/data/lokasi.json')
        .then(response => response.json())
        .then(data => {
            // Mengisi opsi kecamatan
            for (let kecamatan in data) {
                let option = document.createElement('option');
                option.value = kecamatan;
                option.textContent = kecamatan;
                kecamatanSelect.appendChild(option);
            }

            // Event listener ketika kecamatan dipilih
            kecamatanSelect.addEventListener('change', function () {
                // Menghapus opsi kelurahan sebelumnya
                kelurahanSelect.innerHTML = '<option value="">-- Pilih Kelurahan --</option>';

                // Mendapatkan kelurahan berdasarkan kecamatan yang dipilih
                let kelurahans = data[this.value];
                if (kelurahans) {
                    kelurahans.forEach(function (kelurahan) {
                        let option = document.createElement('option');
                        option.value = kelurahan;
                        option.textContent = kelurahan;
                        kelurahanSelect.appendChild(option);
                    });
                }
            });
        })
        .catch(error => console.error('Error fetching data:', error));

    // script/fetch.js
    let selectedPaketIds = [];

    async function fetchPaketByKelurahan() {
        const kelurahan = document.getElementById('kelurahan').value;
        const response = await fetch(`/penentuan-kurir/data?kelurahan=${kelurahan}`);
        const packages = await response.json();
        const listResi = document.getElementById('listResi');
        listResi.innerHTML = ''; // Clear existing content

        if (packages.length > 0) {
            packages.forEach(package => {
                const resiBox = document.createElement('div');
                resiBox.className = 'resi-box';

                const resiContent = document.createElement('div');
                resiContent.className = 'resi-content';

                const resiInfo = document.createElement('div');
                resiInfo.className = 'resi-info';
                resiInfo.innerHTML = `
                        <h1>Nama Penerima: ${package.Nama_Penerima}</h1>
                        <p>Alamat Tujuan: <span>${package.Alamat_Tujuan}</span></p>
                        <p>No. HP: <span>${package.No_HP_Penerima}</span></p>
                    `;

                const resiNumber = document.createElement('div');
                resiNumber.className = 'resi-number';
                resiNumber.innerHTML = `
                        <p>No. Resi: <span>${package.nomor_resi}</span></p>
                        <input type="checkbox" id="checkbox-${package.ID_Data_Penerimaan_Paket}" name="checkbox" value="${package.ID_Data_Penerimaan_Paket}">
                    `;

                resiContent.appendChild(resiInfo);
                resiContent.appendChild(resiNumber);
                resiBox.appendChild(resiContent);
                listResi.appendChild(resiBox);
            });
        } else {
            listResi.innerHTML = '<p>Tidak ada data paket untuk kelurahan ini.</p>';
        }
    }

    async function fetchKurirByKelurahan() {
        const kelurahan = document.getElementById('kelurahan').value;
        const response = await fetch(`/penentuan-kurir/kurir?kelurahan=${kelurahan}`);
        const kurirs = await response.json();
        let kurirList = '';

        if (kurirs.length > 0) {
            kurirs.forEach(kurir => {
                kurirList += `
                        <button class="kurir-button" onclick="selectKurir(${kurir.id_kurir})">
                            <p><b>Nama:</b> ${kurir.nama} &nbsp;</p>
                            <p><b> | No. HP:</b> ${kurir.handphone}</p>
                        </button>
                    `;
            });
        } else {
            kurirList = '<p>Tidak ada kurir untuk kelurahan ini.</p>';
        }

        const modalContent = document.getElementById('modalContent');
        modalContent.innerHTML = kurirList;
        document.getElementById('kurirModal').style.display = 'block';
    }

    function selectKurir(kurirId) {
        const checkboxes = document.querySelectorAll('input[name="checkbox"]:checked');
        selectedPaketIds = Array.from(checkboxes).map(checkbox => checkbox.value);

        if (selectedPaketIds.length === 0) {
            alert('Silakan pilih setidaknya satu paket.');
            return;
        }

        const data = {
            kurirId,
            paketIds: selectedPaketIds
        };

        fetch('/penentuan-kurir/assign', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Paket berhasil diassign ke kurir.');
                    location.reload();
                    fetchPaketByKelurahan();
                } else {
                    alert('Gagal mengassign paket.');
                }
                closeModal();
            })
            .catch(error => console.error('Error:', error));
    }

    function closeModal() {
        document.getElementById('kurirModal').style.display = 'none';
    }

    async function confirmZone() {
        await fetchPaketByKelurahan();
        await fetchKurirByKelurahan();
    }
</script>

</html>