<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwayat Pengantaran</title>
    <link rel="icon" href="img/logo-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/custom-style.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
</head>
<body>
    <div class="header">
        <div class="back-btn">
            <a
            onclick="goBack()">
                <i class="fas fa-arrow-left fa-lg"></i><span class="btn-text">Kembali</span>
            </a>
        </div>
    </div>
</body>
</html>