<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Beranda Admin</title>
    <link rel="stylesheet" href="style/custom-style.css">
    <script src="script/admin-script.js"></script>
</head>

<body>
    <header>
        <div class="navbar-left">
            <img src="img/logo2.png" alt="Logo Perusahaan">
        </div>
        <div class="navbar-right">
            <span id="welcome-message"></span>
            <a onclick="logout()">Logout</a>
        </div>
    </header>
    <main>
        <div class="left-panel">
            <div class="button-desc">
                <h1>Penentuan Kurir</h1>
                <h2>Menentukan kurir dan zona pada <br>pengiriman paket.</h2>
            </div>
            <button class="green-btn" value="penentuan-kurir" onclick="goToPage(this.value)">Penentuan Kurir</button>
        </div>
        <div class="right-panel">
            <div class="button-desc">
                <h1>Pendaftaran Akun </h1>
                <h2>Mengelola akun agen, karyawan gudang<br>dan kurir</h2>
            </div>
            <button class="green-btn" value="pendaftaran" onclick="goToPage(this.value)">Pendaftaran</button>
            <div class="button-desc">
                <h1>Riwayat</h1>
                <h2>Melihat riwayat pengiriman paket</h2>
            </div>
            <button class="green-btn" value="riwayat" onclick="goToPage(this.value)">Riwayat</button>
        </div>
    </main>
</body>

</html>