<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <title>Halaman Admin</title>
   <link rel="icon" href="img/logo-icon.png" type="image/x-icon">
   <link rel="stylesheet" href="css/custom-style.css">
   <link rel="stylesheet" href="css/penentuan-style.css">

</head>

<body>
   <header>
      <div class="navbar-left">
         <img src="img/logo2.png" alt="Logo Perusahaan">
      </div>
      <div class="navbar-right">
        <span><%= user.email %></span>
            <%- (!user?'<a href="/">Login</a>':'<a href="/logout">Logout</a>') %>
      </div>
   </header>
   <main>
      <div class="left-panel">
         <div class="button-desc">
            <h1>Penentuan Kurir</h1>
            <p>Menentukan kurir dan zona pada <br>pengiriman paket.</p>
         </div>
         <a class="green-btn1" href="/penentuan-kurir">Penentuan Kurir</a>
      </div>
      <div class="right-panel">
         <div class="button-desc">
            <h1>Pendaftaran Akun </h1>
            <p>Mengelola akun agen, karyawan gudang<br>dan kurir</p>
            <a class="green-btn1" href="/pendaftaran">Pendaftaran</a>
         </div>
         
         <div class="button-desc" id="riwayat">
            <h1>Riwayat</h1>
            <p>Melihat riwayat pengiriman paket</p>
            <a class="green-btn1" href="/riwayat">Riwayat</a>
         </div>
         
         <!-- <% if (user) { %>
            <a href="/index/view-suplier">
               Agen Perjalanan
            </a>
            <% } %> -->
      </div>
   </main>
</body>
</html>