<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Halaman Agen</title>
  <link rel="icon" href="/img/logo-icon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/agen-style.css" />
  <link rel="stylesheet" href="/css/custom-style.css" />
  <script src="/script/admin-script.js"></script>
  <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
</head>

<body>
  <header>
    <div class="navbar-left">
      <img src="/img/logo2.png" alt="Logo Perusahaan" />
    </div>
    <div class="navbar-right">
      <span>
        <%= user.email %>
      </span>
      <%- (!user ? '<a href="/">Login</a>' : '<a href="/logout">Logout</a>' ) %>
    </div>
  </header>
  <div class="container">
    <div class="info">
      <h1>Penerimaan Paket</h1>
      <a class="btn-paket" href="/deliveries">List Paket</a>
    </div>
    <% if (typeof nomorResi !=='undefined' ) { %>
      <div class="info">
        <h2>Nomor Resi: <%= nomorResi %>
        </h2>
      </div>
      <% } %>
        <form action="/save" method="post" class="form-container">
          <div class="left-form">
            <p>Masukkan data pengirim</p>
            <div class="form-flex">
              <label for="nama_pengirim">Nama Pengirim</label>
              <input type="text" id="nama_pengirim" name="nama_pengirim" required />
            </div>
            <div class="form-flex">
              <label for="no_hp_pengirim">No. HP</label>
              <input type="text" id="no_hp_pengirim" name="no_hp_pengirim" required />
            </div>
            <div class="form-flex">
              <label for="deskripsi">Deskripsi</label>
              <input type="text" id="deskripsi" name="deskripsi" />
            </div>
            <div class="form-flex">
              <label for="berat">Berat</label>
              <input type="text" id="berat" name="berat" />
            </div>
            <div class="form-flex">
              <label for="dimensi">Dimensi</label>
              <input type="text" id="dimensi" name="dimensi" />
            </div>
            <div class="form-flex">
              <label for="jumlah_kiriman">Jumlah Kiriman</label>
              <input type="text" id="jumlah_kiriman" name="jumlah_kiriman" />
            </div>
          </div>
          <div class="line-center"></div>
          <div class="right-form">
            <p>Masukkan data penerima</p>
            <div class="form-flex">
              <label for="nama_penerima">Nama Penerima</label>
              <input type="text" id="nama_penerima" name="nama_penerima" required />
            </div>
            <div class="form-flex">
              <label for="no_hp_penerima">No. HP</label>
              <input type="text" id="no_hp_penerima" name="no_hp_penerima" required />
            </div>
            <div class="form-flex">
              <label for="alamat_tujuan">Alamat Tujuan</label>
              <textarea id="alamat_tujuan" name="alamat_tujuan" required></textarea>
            </div>
            <p>Memilih zona pengiriman</p>
            <div class="opsi">
              <select id="kecamatan" name="kecamatan">
                <option value="">-- Pilih Kecamatan --</option>
                <option>Medan Tuntungan</option>
              </select>
              <select id="kelurahan" name="kelurahan">
                <option value="">-- Pilih Kelurahan --</option>
                <option>Simpang Selayang</option>
              </select>
            </div>
            <button type="submit" class="button">Konfirmasi</button>
          </div>
        </form>
  </div>
  <div id="map" style="height: 80vh"></div>
    <input type="text" id="address" placeholder="Enter address" />
    <button type="button" id="show-on-map">Show on Map</button>
    <script>
      let map;
      let marker;

      function initMap() {
        map = L.map("map").setView([3.585242, 98.675598], 13);
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
          attribution: "© OpenStreetMap contributors",
        }).addTo(map);

        map.on("click", function (e) {
          if (marker) {
            map.removeLayer(marker);
          }
          marker = L.marker(e.latlng).addTo(map);

          axios
            .get(
              `https://nominatim.openstreetmap.org/reverse?format=json&lat=${e.latlng.lat}&lon=${e.latlng.lng}`
            )
            .then((response) => {
              const address = response.data.display_name;
              document.getElementById(
                "alamat_tujuan"
              ).innerText = `${address}`;
            })
            .catch((error) => {
              console.error("Error fetching data:", error);
              alert("Error fetching data. Please try again.");
            });
        });
      }

      document.getElementById("show-on-map").addEventListener("click", () => {
        const address = document.getElementById("address").value;
        if (address) {
          axios
            .get(
              `https://nominatim.openstreetmap.org/search?format=json&q=${encodeURIComponent(
                address
              )}`
            )
            .then((response) => {
              const { lat, lon } = response.data[0];
              const latLng = [parseFloat(lat), parseFloat(lon)];
              map.setView(latLng, 13);
              if (marker) {
                map.removeLayer(marker);
              }
              marker = L.marker(latLng).addTo(map);
            })
            .catch((error) => {
              console.error("Error fetching data:", error);
              alert("Error fetching data. Please try again.");
            });
        } else {
          alert("Please enter an address first");
        }
      });

      window.addEventListener("load", initMap);
    </script>
</body>

</html>