<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Pengantaran</title>
    <link rel="stylesheet" href="style/penentuan-style.css">
    <link rel="stylesheet" href="style/custom-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="script/admin-script.js"></script>
    <script src="script/fetch.js"></script>
</head>

<body>
    <div class="header">
        <button class="back-btn" onclick="goBack()">
            <i class="fas fa-arrow-left fa-lg"></i><span class="btn-text">Kembali</span>
        </button>
    </div>
    <div class="main">
        <div class="left-panel">
            <div class="list-resi">
                <h3>List Data Penerimaan Paket</h3>
                <div class="resi-scroll-view" id="resiScrollView"></div>
                <div class="checkbox">
                    <input type="checkbox" id="checkAll" class="btn-checkbox">
                    <label for="checkAll">Centang Semua</label>
                </div>
            </div>
        </div>
        <div class="line-center"></div>
        <div class="right-panel2">
            <div class="confirmation">
                <button id="confirmButtom" class="confirm-btn" value="list-pengantaran"
                    onclick="goToPage(this.value)">Konfirmasi</button>
            </div>
        </div>
    </div>
</body>

</html>