<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendaftaran Akun</title>
    <link rel="stylesheet" href="css/pendaftaran-styles.css">
    <link rel="stylesheet" href="css/custom-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="script/admin-script.js"></script>
    <script src="script/fetch.js"></script>
</head>

<body>
    <div class="header">
        <div class="back-btn">
            <a href="/admin">
                <i class="fas fa-arrow-left fa-lg"></i><span class="btn-text">Kembali</span>
            </a>
        </div>
        <div class="list-paket">
            <a href="list_akun.html">List Akun</a>
        </div>
    </div>
    <div class="main">
        <div class="left">
            <div class="info-top">
                <h1>Pendaftaran Akun</h1>
            </div>
            <div class="info-top">
                <p>Memilih status akun</p>
            </div>
            <select id="accountType" onchange="showFields()">
                <option value="none-selected">-- Pilih Status --</option>
                <option value="kurir">Kurir</option>
                <option value="agen">Agen</option>
                <option value="karyawan">Karyawan Gudang</option>
            </select>
            <div id="titleText"></div>
            <div id="fieldsContainer"></div>
        </div>
        <div class="line-center"></div>
        <div class="right">
            <div>
                <p id="locationHeader">Memilih zona pengiriman
                    kurir</p>
                <div id="locationFields">
                    <select id="kecamatan"></select>
                    <select id="kelurahan"></select>
                </div>
            </div>
            <div>
                <button id="button-add" class="button-add">Tambah</button>
            </div>
        </div>
    </div>
</body>

</html>