<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penentuan Kurir</title>
    <link rel="stylesheet" href="style/penentuan-style.css">
    <link rel="stylesheet" href="style/custom-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="script/admin-script.js"></script>
    <script src="script/fetch.js"></script>
</head>

<body>
    <div class="header">
        <button class="back-btn" onclick="goBack()">
            <i class="fas fa-arrow-left fa-lg"></i><span class="btn-text">Kembali</span>
        </button>
    </div>
    <div class="main">
        <div class="left-panel">
            <h1>Penentuan Kurir</h1>
            <h3>Menentukan zona pengiriman paket.</h3>
            <div class="opsi-kecamatan">
                <select id="kecamatan"></select>
            </div>
            <div class="opsi-kelurahan">
                <select id="kelurahan"></select>
            </div>
            <h3>Menentukan kurir yang mengantar paket.</h3>
            <div class="kurir-list" id="kurirList">
            </div>
        </div>
        <div class="line-center"></div>
        <div class="right-panel2">
            <div class="confirmation">
                <button id="confirmButtom" class="confirm-btn" value="list-pengantaran"
                    onclick="goToPage(this.value)">Konfirmasi</button>
            </div>
        </div>
    </div>
</body>

</html>